# C#
*.appx
*.appxbundle
*.appxupload
*.binlog
*.dll
*.exe
*.ilk
*.iobj
*.ipdb
*.nupkg
*.obj
*.opensdf
*.pch
*.pdb
*.sdf
bin/
Debug/
obj/
Release/
x64/
x86/
*.cache
*.nuget.props
*.nuget.targets
*.gpState
*.dotCover
*.DotSettings.user
*.jmconfig
*.sln.iml
*.suo
*.user
*.userosscache
*.vspscc
*.vssscc
*.coverage
*.coveragexml
TestResults/
